create_account.html

<p>Siema, podaj email i hasło!</p>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors.items() if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{{ action }}">
    <div>{{ form.email.label }}: {{ form.email }}</div>
    <div>{{ form.password.label }}: {{ form.password }}</div>
    <div>{{ form.confirm.label }}: {{ form.confirm }}</div>
    <input type="submit" value="Napierdalaj!">
</form>
