create_account.html

<p>Siema, podaj email i hasło!</p>

{% if context.form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in context.form.errors.items() if field_errors %}
            {% for error in field_errors %}
                <li>{{ context.form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="/create_account">
    <div>{{ context.form.email.label }}: {{ context.form.email }}</div>
    <div>{{ context.form.password1.label }}: {{ context.form.password1 }}</div>
    <div>{{ context.form.password2.label }}: {{ context.form.password2 }}</div>
    <input type="submit" value="Napierdalaj!">
</form>


